.winners__th {
  position: relative;
  height: 48px;
}

.winners__button_top {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 10px;
}

.winners__button_bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 10px;
}
