.winners__th {
  position: relative;
  height: 48px;
}

.winners__button_top {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 10px;
}

.winners__button_bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 10px;
}

.winners__table_container {
  border: 2px solid var(--primary-background-color);
  margin: 4px 0;
  padding: 4px;
  border-radius: 4px;
  height: 500px;
  overflow-y: scroll;
}
