#garage_content {
  padding-top: 2px;
}

.garage_content__cars {
  height: calc(100vh - 264px);
  border-radius: 4px;
  overflow-y: scroll;

  border: 2px solid var(--primary-border-color);
  padding: 4px;
  margin: 4px 0;
}

.garage_content__car_road {
  border-bottom: 1px dashed black;
  position: relative;

  height: 32px;
}

.garage_content__car_road .car__wrapper {
  position: absolute;
  left: 0;
}

@keyframes moveRight {
  0% {
    left: 0;
  }
  100% {
    left: calc(100% - 48px);
  }
}

.car__element {
  border: 2px solid var(--primary-border-color);
  margin: 4px;
  padding: 6px;
  border-radius: 4px;
}
